.App {
  text-align: center;
}



.App-intro {
  font-size: large;
  border: 2px solid darkblue;
  display:inline-block;
  width:500px;
 padding-bottom: 30px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
